# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/

# NuGet packages
packages/

# Rider / ReSharper
_ReSharper*/
*.DotSettings.user

# Logs
*.log

# SQLite / local db
*.db
*.db-shm
*.db-wal

# Local score file
highscore.txt

# OS files
Thumbs.db
.DS_Store